.chart
  margin: 20px 0
  max-width: 100%
  overflow-x: auto
.axis, .arrow
  stroke: black
  stroke-width: 1px
.bar
  fill:#7db4ec
  stroke-width: 1
  stroke: rgb(0,0,0)
  cursor: pointer
  &:hover
    fill: #6797c2
  &.usd
    fill: #f45c5b
    &:hover
      fill: #c3504f
